body {
	background: #1DAFEC;
	font-family: "Lucida Grande", "Calibri", Helvetica, Arial, sans-serif;
}

#content {
	width: 700px;
	margin: 100px auto;
	background: white;
	padding: 10px;
	border: 5px #444444 solid;
	border-radius: 15px;
}

h1, h2, h3{
	text-align: center;
	width: 100%;
}

h1 {
	margin-bottom: 0;
}

h2 {
	font-size: 1.1em;
	margin-top: 0;
}

table {
	width: 100%;
	margin-top: 20px;
}
button {
	width: 100%;
	height: 50px;
	border-radius: 5px;
	font-size: 1.4em;
	background: #EF0000;
	color: white;
}

td {
	border: 1px solid black;
	text-align: center;
	min-height: 100px;
	width: 33%;
}

#randimal {
	font-size: 2em;
}

#animal_list {
	box-sizing: border-box;
	min-width: 100%;
	min-height: 200px;
}
